@charset "UTF-8";
body{
    background-image: url(),;
    background-blend-mode: hard-light;
    background-size: 1500px 725px;
    background-repeat: no-repeat;
    max-width: 1800px;
    margin: 0;
    padding: 0;
}

.night{
    display: flex;
    justify-content: space-between;
    background-color: black;
}
.night a:hover{
    color: #49d0a3;
}
.hosto{
    margin: 0 200px;
    font-size: 2.75rem;
    color: aliceblue;
}
.clab{
    font-size: 1.25rem;
    padding-top: 17px;
    padding-right: 50px;
    color: aliceblue;
}
.clab:hover{
    color:aliceblue;
}
.huura{
    display: flex;
    justify-content: space-between;
    color: blueviolet;
}
a{
    text-decoration: none;
}
.sikinagi{
    width:425px;
    margin-left: 200px;
    font-size: 2.0rem;
    font-family: serif;
}
.watarai a{
    
    font-size: 1.50rem;
    list-style: none;
    color: #49d0a3;
}
.watarai{
    list-style: none;
    margin-top: 30px;

    
}
.watarai li{

    color: aquamarine;
}
.kanato{
    font-size: 1.50rem;
    list-style: none;
    color: blue;

}
.kanato a:hover{
    color: gold;
}
.watarai a:hover{
    color:#d049ab ;

}
.voltaction{
    display: flex;
    flex-direction: column;
}
.hondacat{
    max-width: 1000px;
    margin-left: 200px;
    margin-right: 200px;
}
.hun{
    width: 20px;
    height: 20px;
}
.neko{
    width: 40px;
    height: 40px;
    margin-top: 10px;
}
.reds{
    color:brown;
    height: 20chvh;
    margin: 0px 0px 0px 10px;
    
}
.size{
    width: 700px;
    height: 500px;
    margin-left: 350px;
}

.kagi{
    color: white;
    max-width: 1200px;
    text-align: center;
    padding-left: 90px;
    padding-top: 10px;
}

footer{
    background-color: #4c2031;
    height: 50px;

}


    /*モバイル版*/
    @media (max-width:600px)
    {
    body{
        background-image: url(),;
        background-blend-mode: hard-light;
        background-size: px px;
        background-repeat: no-repeat;
        max-width: 320px;
        margin: 0;
        padding: 0;
        margin: 0px 5px;
    }
    
    .night{
        display: flex;
        flex-direction: column;
        background-color: black;
    }
    .night a:hover{
        color: #49d0a3;
    }
    .hosto{
        margin: 0 ;
        font-size: rem;
        color: aliceblue;
    }
    .clab{
        font-size: 1.25rem;
        padding-top: 1px;
        padding-right: 1px;
        border-bottom: 2px solid purple;
        color: aliceblue;
    }
    .clab:hover{
        color: purple;
    }
    .huura{
        display: flex;
        flex-direction: column-reverse;
        color: blueviolet;
    }
    h3{
        margin: 10px;
    }
    a{
        text-decoration: none;
    }
    .sikinagi{
        width: 320px;
        height:3px;
        margin-left: 3px;
        font-size: 1.5rem;
        font-family: serif;
    }
    .watarai a{
        
        font-size: 1.50rem;
        list-style: none;
        color: #49d0a3;
    }
    .watarai{
        list-style: none;
        margin-top: 5px;
    
        
    }
    .watarai li{
    
        color: aquamarine;
    }
    .kanato{
        font-size: 1.50rem;
        list-style: none;
        color: blue;
    
    }
    .kanato a:hover{
        color: gold;
    }
    .watarai a:hover{
        color:#d049ab ;
    
    }
    .voltaction{
        display: flex;
        flex-direction: column;
    }
    .hondacat{
        max-width: 320px;
        margin-left: 0px;
        margin-right: 0px;
    }
    .hun{
        width: 40px;
        height: 40px;
        animation-name: fadeUpAnime;/*アニメーションの定義名*/
        animation-duration:2.5s;/*アニメーション変化時間 ※デフォルト*/
        animation-fill-mode:forwards;/*アニメーションの開始と終了時の状態を指定*/
        /*animation-iteration-count: infinite;*/
    }
    .neko{
        width: 40px;
        height: 40px;
        margin-top: 5px;
        animation-name: fadeUpAnime;/*アニメーションの定義名*/
    animation-duration:2.5s;/*アニメーション変化時間 ※デフォルト*/
    animation-fill-mode:forwards;/*アニメーションの開始と終了時の状態を指定*/
    /*animation-iteration-count: infinite;*/
    }
    @keyframes fadeUpAnime{
        from {
          opacity: 0;
        }

        to {
          opacity: 1;
        }
      }
      
    .reds{
        color:brown;
        height: 5vh;
        margin: 0px 0px 0px 10px;
        
    }
    .size{
        width: 320px;
        height: 250px;
        margin-left: 0px;
    }
    
    .kagi{
        max-width: 1200px;
        text-align: center;
        padding-left: 5px;
        padding-top: 5px;
    }
    
    footer{
        background-color: #4c2031;
        height: 30px;
    
    }
}
