@charset "UTF-8";
body{
    max-width: 1800px;
    margin: 0;
    padding: 0;
    background-color:aliceblue;
}

.sushi{
    margin-left: 300px;
}
.hosto{
    margin: 0 200px;
    font-size: 2.75rem;
    color: aliceblue;
}
.night{
    display: flex;
    justify-content: space-between;
    background-color: black;
}
.clab{
    font-size: 1.25rem;
    padding-top: 17px;
    padding-right: 50px;
    color: aliceblue;
}
a{
    text-decoration: none;
}

.name{
    display: flex;
    justify-content: space-between;
}
.night a:hover{
    color: #49d0a3;
}
.kor{
    margin-left: 50px;
    width: 110px;
    padding: 10px;
}
footer{
    background-color: #4c2031;
    height: 80px;

}
.kagi{
    color: white;
    max-width: 1200px;
    text-align: center;
    padding-left: 90px;
    padding-top: 10px;
}
.kar{
    width: 110px;
    padding: 10px;
}
.kar2{
    width: 80%;
    padding: 10px;
}
.kar3{
    width: 400px;
    height: 100px;
    padding: 10px;
}
.neko{
    width: 40px;
    height: 40px;
    margin-top: 10px;
}
.nekodesu{
    width: 25px;
    height: 25px;
    margin-top: 10px;
}
/*--スケジュール----------------------------------------------------------------*/

.kuzuha{
    display: flex;
    justify-content: space-between;
}
/*-----X(Twitter)--------------------------------------------*/
.X{
    margin-left: 100px;
}
/*-------お知らせ--------------------------------------------*/
.size{
    width: 380px;
    height: 400px;
}
.bottom{
    margin-bottom: 80px;
}
.hun{
    max-width: 800px;
    margin-left: 320px;
}
/*insta---------------------------------*/
.insta{
    margin-left: 300px;
    color: cornflowerblue;
    max-width: 800px;
}
.narabi{
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    margin-left: 350px;
}
.narabe{
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    margin-left: 330px;
}
.e{
    display: flex;
    justify-content: space-between;
}
.sukima{
    width: 500px;
    height: 500px;
}
/*----商品購入------------------------------------------------*/
.mise{

    display: flex;
    justify-content: center;
}
.koppu{
    width: 340px;
    height: 400px;
}
.kanbatti{
    margin-bottom: 150px;
    margin-left: 300px;
    max-width: 900px;
}
.color{
    margin-left: 300px;
    color: blueviolet;
}
/*Youtube-----------------------------------*/
.You{
    display: flex;
    justify-content: flex-start;
    margin-left: 0;
}
.sashi{
    margin-left: 10px;
}
.aikon{
    border-radius: 50px;
}
.douga{
    margin-left: 150px;
    color: #ec7e5b;
}
.twitter-timeline{
    width: 1000px;
    height: 1000px;
}
.seshi{
    margin-left: 150px;
} 
.Youneko{
    width: 500px;
    height: 600px;
    display: flex;
    justify-content: center;

}
.Youtyousei{
    display: flex;
    justify-content: center;
}
@media(max-width:600px){
    body{
        max-width: 320px;
        margin: 0;
        padding: 0;
        background-color:aliceblue;
        margin: 0px 5px;
    }
    
    .sushi{
        margin-left: 0px;
    }
    .hosto{
        margin: 0 0px;
        font-size: 2.75rem;
        color: aliceblue;
    }
    .night{
        display: flex;
        flex-direction: column;
        background-color: black;
    }
    .clab{
        font-size: 1.25rem;
        padding-top: 0px;
        padding-right: 0px;
        border-bottom: 2px solid purple;
        color: aliceblue;
    }
    a{
        text-decoration: none;
    }
    
    .name{
        display: flex;
        justify-content: space-between;
    }
    .night a:hover{
        color: #49d0a3;
    }
    .kor{
        margin-left: 50px;
        width: 110px;
        padding: 10px;
    }
    footer{
        background-color: #4c2031;
        height: 80px;
    
    }
    .kagi{
        color: white;
        max-width: 1200px;
        text-align: center;
        padding-left: 50px;
        padding-top: 10px;
    }
    .kar{
        width: 110px;
        padding: 10px;
    }
    .kar2{
        width: 80%;
        padding: 10px;
    }
    .kar3{
        width: 400px;
        height: 100px;
        padding: 10px;
    }
    .neko{
        width: 40px;
        height: 40px;
        margin-top: 10px;
        animation-name: fadeUpAnime;/*アニメーションの定義名*/
        animation-duration:2.5s;/*アニメーション変化時間 ※デフォルト*/
        animation-fill-mode:forwards;/*アニメーションの開始と終了時の状態を指定*/
        /*animation-iteration-count: infinite;*/
    }
    .nekodesu{
        width: 25px;
        height: 25px;
        margin-top: 10px;
        animation-name: fadeUpAnime;/*アニメーションの定義名*/
        animation-duration:2.5s;/*アニメーション変化時間 ※デフォルト*/
        animation-fill-mode:forwards;/*アニメーションの開始と終了時の状態を指定*/
        /*animation-iteration-count: infinite;*/
    }
    @keyframes fadeUpAnime{
        from {
          opacity: 0;
        }

        to {
          opacity: 1;
        }
      }
    /*--スケジュール----------------------------------------------------------------*/
    
    .kuzuha{
        display: flex;
        justify-content: space-between;
    }
    /*-----X(Twitter)--------------------------------------------*/
    .X{
        margin-left: 0px;
    }
    .ready{
        font-size: 0.9rem;
    }
    /*-------お知らせ--------------------------------------------*/
    .size{
        width: 320px;
        height: 340px;
    }
    .bottom{
        margin-bottom: 80px;
    }
    .hun{
        max-width: 320px;
        margin-left: 0px;
    }
    /*insta---------------------------------*/
    .insta{
        margin-left: 0px;
        color: cornflowerblue;
        max-width: 800px;
    }
    .narabi{
        display: flex;
        justify-content: space-between;
        max-width: 320px;
        margin-left: 0px;
    }
    .narabe{
        display: flex;
        justify-content: space-between;
        max-width: 320px;
        margin-left: 0px;
    }
    .e{
        display: flex;
        justify-content: space-between;
    }
    .sukima{
        width: 100px;
        height: 100px;
    }
    /*----商品購入------------------------------------------------*/
    .mise{
    
        display: flex;
        justify-content: center;
    }
    .koppu{
        width: 100px;
        height: 120px;
    }
    .kanbatti{
        margin-bottom: 150px;
        margin-left: 15px;
        max-width: 900px;
    }
    .color{
        margin-left: 0px;
        color: blueviolet;
    }
    /*Youtube-----------------------------------*/
    .You{
        display: flex;
        flex-direction: column;
        margin-left: 0;
    }
    .sashi{
        margin-left: 10px;
    }
    .aikon{
        border-radius: 50px;
        animation-name: fadeUpAnime;/*アニメーションの定義名*/
        animation-duration:2.5s;/*アニメーション変化時間 ※デフォルト*/
        animation-fill-mode:forwards;/*アニメーションの開始と終了時の状態を指定*/
        /*animation-iteration-count: infinite;*/
    }
    .douga{
        margin-left: 0px;
        color: #ec7e5b;
    }
    .twitter-timeline{
        width: 1000px;
        height: 1000px;
    }
    .seshi{
        margin-left: 0px;
    } 
    .ho-muzu{
        font-size: 13px;
    }
    
    .Youneko{
        width: 310px;
        height: 400px;
        display: flex;
        justify-content: center;
    
    }
    .Youtyousei{
        display: flex;
        justify-content: center;
    }
}
